<h1>${title}</h1><br>
<form class='form clearfix' method='POST' action='/users/signup'>
    <label for='username'>Username:<br>
    <input type='text' name='user_name' placeholder="Enter a username">
    </label><br>
    <label for='email'>Email:<br>
    <input type='email' name='user_email' placeholder="Enter an email">
    </label><br>
    <label for='password'>Password:<br>
    <input type='password' name='user_pass' placeholder="Enter a password">
    </label><br>
    <button type='submit'>Register</button>
</form>