<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href='/styles/styles.css'>
    <link rel="icon" type="image/png" href="/styles/images/waifu-icon.png">
    <title>${title}</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <a class='navbar-item' href='/'>Home</a> ${!!is_logged_in ? `
            <div class='buttons'><a class='button is-light' href='/users/logout '>Logout</a></div>` : `
            <div class='buttons'><a class="button is-light" href='/users/login '>Login</a>
                <a class="button is-light" href='/users/signup'>Register</a></div> ` }



    </nav>

    <main>
        ${body}
    </main>
</body>

</html>

</html>